In [1]:
##### Create Data Table from reuse of VacationPy code - read int and output as HTML Table 
# Dependencies

import numpy as np
import pandas as pd
from IPython.display import HTML

In [2]:
# read in the csv created in the WeatherPy section
city_data = pd.read_csv("City_DataFrame_CSV_Output.csv",dtype="object", encoding="utf-8")

In [3]:
# Fix data types
city_data[["City Latitude", "City Longitude",'Temperature (F)','Humidity %','Cloud Coverage %','Wind Speed (mph)']] = city_data[["City Latitude", "City Longitude",'Temperature (F)','Humidity %','Cloud Coverage %','Wind Speed (mph)']].astype(float)

In [4]:
# rename the columns to nicer table headers
city_data.rename(columns={"City Name":"City","City Country":"Country","City Local Date_Time":"Local Time","City Latitude":"Latitude","City Longitude":"Longitude"},inplace= True)
city_data

,City,Temperature (F),Humidity %,Cloud Coverage %,Wind Speed (mph),Latitude,Longitude,Country,Local Time,Random_Latitude,Random_Longitude
0,Rikitea,78.71,78.0,36.0,16.40,-23.1203,-134.9692,PF,"Thu, 11 Mar 2021 08:10:27",-45.98,-138.65
1,Puerto Ayora,84.20,74.0,40.0,9.22,-0.7393,-90.3518,EC,"Thu, 11 Mar 2021 11:10:28",-6.42,-102.73
2,Saskylakh,-11.78,87.0,100.0,18.37,71.9167,114.0833,RU,"Fri, 12 Mar 2021 02:10:28",72.34,114.57
3,Aksarka,-12.62,93.0,96.0,18.61,66.5606,67.7975,RU,"Thu, 11 Mar 2021 22:10:28",64.74,68.78
4,Barrow,-11.20,70.0,1.0,9.22,71.2906,-156.7887,US,"Thu, 11 Mar 2021 08:10:29",69.86,-161.43
...,...,...,...,...,...,...,...,...,...,...,...
536,Honāvar,78.04,84.0,30.0,1.61,14.2833,74.4500,IN,"Thu, 11 Mar 2021 22:46:11",13.61,73.01
537,Camaná,76.28,76.0,73.0,6.64,-16.6228,-72.7111,PE,"Thu, 11 Mar 2021 12:16:12",-20.86,-76.24
538,Kolondiéba,100.87,10.0,0.0,6.87,11.0882,-6.8926,ML,"Thu, 11 Mar 2021 17:16:12",10.93,-6.91
539,Buluang,75.34,87.0,100.0,4.43,13.3068,123.3425,PH,"Fri, 12 Mar 2021 01:16:12",13.43,116.32
540,Ixtapa,78.80,53.0,1.0,5.35,20.7000,-105.2000,MX,"Thu, 11 Mar 2021 11:16:13",9.68,-105.08

In [5]:
# add a column that has the index info, which we will drop when we export to HTML
city_data["City ID"]= city_data.index
city_data

,City,Temperature (F),Humidity %,Cloud Coverage %,Wind Speed (mph),Latitude,Longitude,Country,Local Time,Random_Latitude,Random_Longitude,City ID
0,Rikitea,78.71,78.0,36.0,16.40,-23.1203,-134.9692,PF,"Thu, 11 Mar 2021 08:10:27",-45.98,-138.65,0
1,Puerto Ayora,84.20,74.0,40.0,9.22,-0.7393,-90.3518,EC,"Thu, 11 Mar 2021 11:10:28",-6.42,-102.73,1
2,Saskylakh,-11.78,87.0,100.0,18.37,71.9167,114.0833,RU,"Fri, 12 Mar 2021 02:10:28",72.34,114.57,2
3,Aksarka,-12.62,93.0,96.0,18.61,66.5606,67.7975,RU,"Thu, 11 Mar 2021 22:10:28",64.74,68.78,3
4,Barrow,-11.20,70.0,1.0,9.22,71.2906,-156.7887,US,"Thu, 11 Mar 2021 08:10:29",69.86,-161.43,4
...,...,...,...,...,...,...,...,...,...,...,...,...
536,Honāvar,78.04,84.0,30.0,1.61,14.2833,74.4500,IN,"Thu, 11 Mar 2021 22:46:11",13.61,73.01,536
537,Camaná,76.28,76.0,73.0,6.64,-16.6228,-72.7111,PE,"Thu, 11 Mar 2021 12:16:12",-20.86,-76.24,537
538,Kolondiéba,100.87,10.0,0.0,6.87,11.0882,-6.8926,ML,"Thu, 11 Mar 2021 17:16:12",10.93,-6.91,538
539,Buluang,75.34,87.0,100.0,4.43,13.3068,123.3425,PH,"Fri, 12 Mar 2021 01:16:12",13.43,116.32,539
540,Ixtapa,78.80,53.0,1.0,5.35,20.7000,-105.2000,MX,"Thu, 11 Mar 2021 11:16:13",9.68,-105.08,540

In [6]:
# reorder the columns into a cleaner presentation
city_data_final = city_data[["City ID","City","Country","Local Time","Latitude","Longitude",'Temperature (F)','Humidity %','Cloud Coverage %','Wind Speed (mph)']]

In [7]:
city_data_final

,City ID,City,Country,Local Time,Latitude,Longitude,Temperature (F),Humidity %,Cloud Coverage %,Wind Speed (mph)
0,0,Rikitea,PF,"Thu, 11 Mar 2021 08:10:27",-23.1203,-134.9692,78.71,78.0,36.0,16.40
1,1,Puerto Ayora,EC,"Thu, 11 Mar 2021 11:10:28",-0.7393,-90.3518,84.20,74.0,40.0,9.22
2,2,Saskylakh,RU,"Fri, 12 Mar 2021 02:10:28",71.9167,114.0833,-11.78,87.0,100.0,18.37
3,3,Aksarka,RU,"Thu, 11 Mar 2021 22:10:28",66.5606,67.7975,-12.62,93.0,96.0,18.61
4,4,Barrow,US,"Thu, 11 Mar 2021 08:10:29",71.2906,-156.7887,-11.20,70.0,1.0,9.22
...,...,...,...,...,...,...,...,...,...,...
536,536,Honāvar,IN,"Thu, 11 Mar 2021 22:46:11",14.2833,74.4500,78.04,84.0,30.0,1.61
537,537,Camaná,PE,"Thu, 11 Mar 2021 12:16:12",-16.6228,-72.7111,76.28,76.0,73.0,6.64
538,538,Kolondiéba,ML,"Thu, 11 Mar 2021 17:16:12",11.0882,-6.8926,100.87,10.0,0.0,6.87
539,539,Buluang,PH,"Fri, 12 Mar 2021 01:16:12",13.3068,123.3425,75.34,87.0,100.0,4.43
540,540,Ixtapa,MX,"Thu, 11 Mar 2021 11:16:13",20.7000,-105.2000,78.80,53.0,1.0,5.35

In [8]:
# Output the dataframe as a table, but drop the index to make pretty and consistent
city_data_final.to_html('table_output.html',index=False)